
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği - KATEGORİ</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>a</td>
        <td>b</td>
        <td>c</td>
    </tr>
</table>
